.dashboard-link {
  display: block;
  color: #004080;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #f0f0f0;
  width: fit-content;

}

.dashboard-link:hover {
  background-color: #004080;
  color: white;
}

